@font-face {
  font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;
  src: local('Rancho'), url('http://themes.googleusercontent.com/static/fonts/rancho/v2/EJt_7DbHYj8a5HS0_pTrl-vvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}

body {
  margin: 0 1em;
  background: -webkit-linear-gradient(90deg, transparent, transparent 24px, rgba(68, 0, 255, 0.08) 24px, rgba(68, 0, 255, 0.08) 25px) 0 0,
              -webkit-linear-gradient(-180deg, transparent, transparent 24px, rgba(68, 0, 255, 0.08) 24px, rgba(68, 0, 255, 0.08) 25px) 0 0;
  background: -moz-linear-gradient(90deg, transparent, transparent 24px, rgba(68, 0, 255, 0.08) 24px, rgba(68, 0, 255, 0.08) 25px) 0 0,
              -moz-linear-gradient(-180deg, transparent, transparent 24px, rgba(68, 0, 255, 0.08) 24px, rgba(68, 0, 255, 0.08) 25px) 0 0;
  background: linear-gradient(90deg, transparent, transparent 24px, rgba(68, 0, 255, 0.08) 24px, rgba(68, 0, 255, 0.08) 25px) 0 0,
              linear-gradient(-180deg, transparent, transparent 24px, rgba(68, 0, 255, 0.08) 24px, rgba(68, 0, 255, 0.08) 25px) 0 0;
  background-size: 25px 25px;
}
img {
  float:    left;
  margin:  0 1em 1em 1em;
  max-width: 100%;
  box-shadow: 4px 4px 8px #999;
  border: 1px solid rgba(68, 0, 266, 0.5);
}
h1, h2, h3 {
  font-family: "Rancho", sans-serif;
  color: #412985;
}

h1 {
  font-style: italic;
  font-size: 3em;
  margin: 0 0 .5em 0;
}
h2 {
 color: #412985;
}
h4, h5, h6 {
  font-family: "Arial Black", "Arial", san-serif;
}

h4 {
  clear: both;
}
body, p {
  font-family: "Baskerville MT", "Baskerville", "Adobe Caslon Pro", "Caslon", "Georgia", serif;
  font-size: 100%;
}

li {
  line-height: 1.5em;
}
code {
  background-color: #dedede;
  padding: 0.25em;
}
a {
  text-decoration: none;
}
a[title="download"], a[title="buy now"] {
  border: 1px solid #fff;
  display: inline-block;
  font-family: "Arial Black", "Arial", san-serif;
  margin: .5em;
  padding: .75em;
  background-color: #412985;
  color: #fff;
  text-decoration: none;
  text-shadow: black 1px 2px;
  background-image: linear-gradient(bottom, rgb(40,25,82) 0%, rgb(118,98,172) 65%);
  background-image: -o-linear-gradient(bottom, rgb(40,25,82) 0%, rgb(118,98,172) 65%);
  background-image: -moz-linear-gradient(bottom, rgb(40,25,82) 0%, rgb(118,98,172) 65%);
  background-image: -webkit-linear-gradient(bottom, rgb(40,25,82) 0%, rgb(118,98,172) 65%);
  background-image: -ms-linear-gradient(bottom, rgb(40,25,82) 0%, rgb(118,98,172) 65%);

  -moz-border-radius: .75em;
  -webkit-border-radius: .75em;
  -khtml-border-radius: .75em;
  border-radius: .75em;
  
  box-shadow: 3px 3px 5px #666;
}

@media all and (max-width: 405px) {
  img {
    float: none;
  }
}